.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 30px; 
    padding: 15px;
    padding-bottom: 10px;
}

.avatarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatarWrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0,5; 
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 11px;
    color: var(--text3-color);
    opacity: 0,5;
}

.selected .avatarWrapper {
    width: 93px;
    height: 93px;
    border: 5px solid var(--primary-color);
    opacity: 1;
}

.selected .name {
    font-size: 15px; 
    color: var(--text2-color);
    opacity: 1; 
}

.BtnStyle{
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 5px 13px;
    color: var(--text1-color);
    font-size: 11px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin: auto;
    margin-bottom: 22px;
}

.hidden1{
    opacity: 0;
    visibility: hidden;
}

.hidden {
    display: none;
}