.card {
    width: 330px;
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.iconWrap{
    background-color: var(--background-color);
    border-radius: 30px;
    height: 38px;
}

.allowed{
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    color: var(--text3-color);
}

.BigValue {
    font-size: 20px;
    font-weight: 700;
}

.balance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
    border-top: 1px solid var(--text3-color);
}

.sub {
    font-size: 14px;
    color: var(--text3-color);
}

.value{
    font-size: 14px;
    font-weight: 500;
}

.plusBtn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.hidden{
    display: none;
}