.navWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    height: 80px;
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 10px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px;
}

.navSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1; 
    height: 100%;
    padding-top: 15px; 
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 5px 0;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.navItem:hover {
    opacity: 1;
}

.icon {
    margin-bottom: 4px;
}

.centerButton {
    position: absolute;
    left: 50%;
    top: calc(0px - 15px);
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;  
    background-color:var(--primary-color); 
    border: 5px solid var(--secondary-color);  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.centerButton img{
    width: 40px;
    height: 40px;
}
