.TransactionsCard{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.container{
    padding: 0 25px;
}

.savingsContainer{
    padding: 0 0  0 20px;
    width: 100%;
    margin-top: 13px;
}

.savingsContainer p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
}

.TargerCardsContainer{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    overflow-x: auto; 
    flex-wrap: nowrap; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.TargerCardsContainer::-webkit-scrollbar {
    display: none;
}

.taskContainer{
    width: 330px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 13px 20px;
}

.taskTitle{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
}

.space100{
    height: 100px;
}

.wrapper{
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text1-color);
}

.content{
    width: 350px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.roleCard{
    background-color: var(--background-color);
    width: 150px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selectedCard{
    border: solid 5px #000;
    border-radius: 15px;
}

.title{
    font-size: 32px;
    margin-bottom: 16px;
}

.title strong{
    font-weight: 900
}

.subTitle{
    max-width: 250px;
    font-size: 15px;
    margin: 0 auto;
}

.choiseContainer{
    display: flex;
    gap: 20px;
    margin-top: 75px;
}

.figcaption{
    padding-top: 15px;
}

.startBtn{
    width: 230px;
    background-color: var(--background-color);
    padding: 16px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: medium;
}

.space{
    height: 34px;
}

.regTitle{
    text-align: center;
    margin-bottom: 12px;
    color: var(--text2-color);
    font-size: 24px;
    font-weight: 500;
}

.card {
    width: 330px;
    background: var(--background-color);
    padding: 32px 20px;
    border-radius: 30px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    color: var(--text2-color);
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
}

input {
    padding: 18px;
    border-radius: 50px;
    border: none;
    background: var(--secondary-color);
    font-size: 15px;
    outline: none;
}

.btn {
    width: 166px;
    padding: 14px;
    align-items: center;
    margin: 20px auto 0;
    display: block;  
    border-radius: 50px;
    background: var(--primary-color);
    color: var(--text1-color);
    font-size: 14px;
    transition: 0.2s;
}

.btn:hover {
    background: #553ae6;
}

.linkToLogIn{
    margin-top: 20px;
    color: var(--text2-color);
    font-size: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.linkToLogIn a{
    text-decoration: none;
    color: var(--primary-color);
}

.chatPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chatContainer {
    height: 75vh;
    flex-grow: 1; 
    padding: 20px 16px 0; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.messagesList {
    flex-grow: 1;         
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding-bottom: 20px; 
}

.messageBubble {
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 20px;
    line-height: 1.4;
    white-space: pre-wrap; 
    word-wrap: break-word;
    font-size: 16px;
}


.otherMessage {
    align-self: flex-start;
    background-color: var(--secondary-color);
    color: var(--text2-color); 
    border-top-left-radius: 5px; 
}

.myMessage {
    align-self: flex-end;
    background-color: var(--secondary-color);
    color: var(--text2-color); 
    border-top-right-radius: 5px; 
}

.inputArea {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: #FFFFFF; 
    position: sticky; 
    bottom: 0;
    margin-top: auto; 
}

.chatInput {
    flex-grow: 1;
    padding: 20px 20px;
    border: none;
    border-radius: 25px;
    background-color: var(--secondary-color);
    font-size: 16px;
    margin-right: 10px;
    position: relative;
}

.sendButton {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 15px ;
}
