:root {
    --completed-color: #38a169; 
    --pending-color: #f6ad55; 
}

.taskCard {
    width: 100%;
    max-width: 400px;
    margin-bottom: 5px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.iconContainer {
    width: 45px;
    height: 45px;
}

.taskIcon {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.textBlock {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.taskText {
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color2);
    max-width: 150px;
}

.statusPending {
    font-size: 9px;
    font-weight: 600;
    color: var(--pending-color); 
}

.statusCompleted {
    font-size: 9px;
    font-weight: 600;
    color: var(--completed-color); 
}

.bellButton {
    background: none;
    border: none;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
}

.amount{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 900;
}

.hidden{
    display: none;
}