.wrapper {
    width: max-content;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 90px;
    padding: 20px 40px 10px 139px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-bottom: 10px;
}

.circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 119px;
    height: 100px;
    background: var(--primary-color);
    border-radius: 90px;
}

.circle img{
    position: relative;
    top: -30px;
    left: -3px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    margin: 0;
    font-size: 20px;
    font-weight: 900;
}

.button {
    width: max-content;
    background-color: var(--primary-color);
    color: var(--text1-color);
    padding: 4px 14px;
    border-radius: 12px;
    font-size: 10px;
    font-weight: 900;
}