@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #5D45FD;
    --secondary-color: #DAD4FF;
    --background-color: #fff;
    --text1-color: #fff;
    --text2-color: #000;
    --text3-color: #727171;

    --vh: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body{
    font-family: "Inter", sans-serif;
}

